/* Global styles for the entire app */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(cooking.jpg);
}

.App {
  text-align: center;
}

/* Styles for NavBar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar h1 {
  margin: 20;
}

.navbar a {
  color: rgb(244, 235, 235);
  text-decoration: none;
  margin-right: 50px;
  background-color: rgb(85, 85, 83);
  padding: 5px;
  border-radius: 5px;
}
.navbar a:hover{
  background-color: rgb(107, 106, 106);
}

/* Styles for content area */
.content {
  display: flex;
  justify-content: space-around;
  margin: 50px ;
  padding: 20px;
  background-color: rgb(63, 62, 62);
  border-radius: 20px;
  color: white;
}


/* Styles for each route */
.route {
  background-color: orange;
  padding: 20px;
  border-radius: 5px;
  flex: 1;
  margin: 10px;
}

/* Styles for Home component */
.home {
  background-color: #403f3f;
  color: rgb(235, 230, 230);
  
}

.home header {
  font-size: 24px;
  margin-bottom: 10px;
}

.home h1 {
  font-size: 32px;
  color: rgb(224, 220, 220);
}

.home p {
  font-size: 18px;
  color: rgb(225, 217, 217);
}
.home-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.home-button:hover {
  background-color: darkorange;
}

/* Styles for RecipeSearch component */
.recipe-search {
  background-color: #fcfcfc;
  color: #333;
}

.recipe-search input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.recipe-search button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.recipe-search button:hover {
  background-color: #0056b3;
}
#recipe-search{
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  margin:20px 70px 20px 70px ;
}
#recipe-search:hover{
  background-color: darkorange;
}

/* Styles for RandomRecipe component */
.random-recipe {
  background-color: #f9f9f9;
  color: #333;
}

.random-recipe img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.random-recipe h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.random-recipe p {
  font-size: 18px;
  color: #555;
}
#randombtn{
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
#randombtn{
  background-color: darkorange;
}
#recipe-random{
  background-color: rgb(247, 154, 40);
}
/*recipe ingredients*/
#recipe-ingredients{
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
#recipe-ingredients:hover{
  background-color: darkorange;
}
/*recipe-details*/
#recipe-details{
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  
}
